# Node modules
backend/node_modules/
frontend/personal-expensive-tracker/node_modules/

# Build folders
frontend/personal-expensive-tracker/dist/
frontend/personal-expensive-tracker/build/
backend/uploads/
